<div class="upcoming-events">
    <h2>Upcoming Events</h2>
    <div class="card-container">
        <% @events.upcoming.each do |event| %>
            <%= render event %>
        <% end %>
    </div>
</div>

<div class="past-events">
    <h2>Past Events</h2>
    <div class="card-container">
        <% @events.past.each do |event| %>
            <%= render event %>
        <% end %>    
    </div>
</div>

